@font-face {
  font-family: "Norwester";
  src: url("../assets/fonts/norwester.woff2") format("woff2"),
    url("../assets/fonts/norwester.woff") format("woff");
}
@font-face {
  font-family: "ArmaliteRifle";
  src: url("../assets/fonts/armalite_rifle.woff2") format("woff2"),
    url("../assets/fonts/armalite_rifle.woff") format("woff");
}

:root {
  --primary: #0e4b6c;
  --secondary: #0a0a0a;
  --tertiary: #155684;
  --light-green: #48bf91;
  --light-red: #e03333;
  font-size: 10px;
  font-family: "Norwester", sans-serif;
  color: var(--light-green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Prevents from dragging selected text to droppable element */
  user-select: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-image: linear-gradient(to right, #161616, #2e2e2e, #161616);
  background-position: 50% 100%;
  background-size: cover;
  font-family: "Norwester";
}

header {
  padding: 1.5rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
}
header > h1 {
  font-family: "ArmaliteRifle";
  letter-spacing: 0.5rem;
  font-size: 3.5rem;
  padding: 0 1.5rem;
  text-shadow: 0.4rem 0.4rem 0.2rem rgb(0, 0, 0);
  transition: 100ms ease-in-out;
  position: relative;
}
h1:after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--light-green);
  top: 4rem;
  left: 1rem; 
  width: 0;
  transition: width cubic-bezier(.97,.03,.46,1.27) 400ms;
}

h1:hover:after{
  width: 90%;
}

svg.github-logo{
  transition: transform ease-in 350ms;
  width: 100%;
  height: 35px;
  fill: var(--light-green) !important;
}
svg.github-logo:hover{
  transform: rotate(360deg);
  filter: saturate(10);
}
svg.github-logo:active{
  transform: scale(2);
}
main {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  gap: 2rem;

}
#turn-display {
  width: 80%;
  font-size: 3rem;
  text-align: center;
  text-shadow: .6rem .6rem 1rem rgba(0, 0, 0, 0.9);
}
#player-board,
#ai-board,
#place-ship-board {
  border: 0.5px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0.5rem;
  gap: 0.05rem;
  box-shadow: 0px 1rem 2rem 3px rgba(0, 0, 0, 0.7);
}

#player-board,
#ai-board {
  width: 400px;
  height: 400px;
}


button {
  background-color: #282828;
  /* box-shadow: -3px 3px var(--light-green), -2px 2px var(--light-green),
    -1px 1px var(--light-green); */
  color: var(--light-green);
  font-size: 1rem;
  font-weight: bold;
}

/* Board classes */
.square {
  border: 2px solid var(--secondary);
  background-color: var(--tertiary);
  position: relative;
}
.active > .square:hover {
  background-color: #48bf91;
  cursor: pointer;
}
.missed {
  background-color: #8f8f8f;
  pointer-events: none;
}

.anchored {
  background-color: #48bf91;
}

.hit {
  background-color: #e03333;
  pointer-events: none;
}
.sunk::after{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: "X";
  font-size: 2rem;
  color: var(--secondary);
}
.dragover {
  background-color: #48bf91;
}
.removed {
  opacity: 0.2;
}
.outOfBounds {
  background-color: gray;
}

.block {
  border: 1px solid black;
  width: 40px;
}
.hidden {
  display: none;
}



@media (min-width:850px) {
  main{
    margin-top: 8rem;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  #turn-display{
    grid-column: span 2;
    grid-row-start: 1;
    margin-bottom: 7rem;
    font-size: 4rem;
  }
}


@media (min-width:1220px) {
  #player-board,
  #ai-board {
    width: 50rem;
    height: 50rem;
  }
  header{
    padding-left: 13rem;
  }
}