main{
  width: 850px;
  height: 400px;
  margin: 0 auto;
  display: block;
  display: flex;
}

#player-board, #ai-board{
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square {
  border: 1px solid black;
}