main{
  width: 850px;
  height: 400px;
  margin: 0 auto;
  display: block;
  display: flex;
}
#display { 
  width: 400px;
  height: 100px;
  margin: 0 auto;
}
#player-board, #ai-board, #place-ship-board{
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square {
  border: 1px solid black;
}
.active > div:hover {
  background-color: purple;
  cursor: pointer;
}
.missed {
  background-color: grey;
}

.hit{
  background-color: red;
}


#board-creator {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
}

#ships-container {
  display: grid;
}
.ship {
  display: grid;
  grid-auto-flow: column;
  max-height: 40px;
  max-width: fit-content;

}
.block{
  border: 1px solid black;
  width: 40px;
}
.hidden{
  display: none;
}

#place-ship-board .square:-moz-drag-over {
  background-color: purple;
}